.outer {
  width: 100%;
  height: 100%;
}
.outside {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  border: none;
}
.wrap {
  position: absolute;
  background: rgba(42, 42, 42, 0.99);
  width: 100%;
  height: 50%;
  max-height: 450px;
  border-radius: 20px 20px 0 0;
  bottom: 0;
  padding: 20px 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.btn {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  padding: 0;
}
.btnClose {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
}
.option {
  padding: 0;
  border-bottom: 1px solid rgb(91, 90, 90);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 600px) {
    padding: 15px calc(115px / 2);
  }
}
.title {
  justify-content: center;
}

.btnIcon {
  width: 30px;
  background-color: transparent;
  border: none;
  padding: 2px;
  color: rgb(91, 90, 90);
  cursor: pointer;
}
.favorite {
  color: rgb(240, 173, 28);
}
.muted {
  color: rgb(144, 74, 74);
}
.reported {
  color: rgb(141, 36, 36);
}
.unfollowBtn {
  &:hover {
    color: rgb(210, 107, 107);
  }
}
