.outer {
  display: flex;
  align-items: flex-end;
  height: 94vh;
}
.inner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 90vh;
}
.wrap {
  height: 90vh;
  width: 500px;
}

.slide {
  height: 94vh;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  // vignette effect, transparent to black to make text legible
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.05) 65%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0.15) 75%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.3) 83%,
    rgba(0, 0, 0, 0.4) 86%,
    rgba(0, 0, 0, 0.5) 90%,
    rgba(0, 0, 0, 0.6) 93%,
    rgba(0, 0, 0, 0.7) 96%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
