.outer {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 500px;
}
.inner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100%;
}

.slide {
  height: 100%;
}
