.outer {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  // vignette effect, transparent to black to make text legible
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0.2) 1%,
    rgba(0, 0, 0, 0.175) 2%,
    rgba(0, 0, 0, 0.125) 3%,
    rgba(0, 0, 0, 0.1) 4%,
    rgba(0, 0, 0, 0.075) 6%,
    rgba(0, 0, 0, 0.05) 8%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.2) 65%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0.4) 80%,
    rgba(0, 0, 0, 0.5) 85%,
    rgba(0, 0, 0, 0.6) 90%,
    rgba(0, 0, 0, 0.7) 93%,
    rgba(0, 0, 0, 0.75) 95%,
    rgba(0, 0, 0, 0.8) 97%,
    rgba(0, 0, 0, 0.85) 100%
  );
  color: white;
}
.textBox {
  height: fit-content;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: start;
  width: 80%;
  font-size: 0.9rem;
}
.sideBar {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sideBarBtn {
  border: none;
  width: 32px;
  background: transparent;
  border-radius: 8px;
  padding: 5px;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.commentBox {
  position: absolute;
  background: rgba(42, 42, 42, 0.95);
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0 0;
}

.backBtn {
  border: none;
  width: 32px;
  padding: 0;
  background: transparent;
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  cursor: pointer;
}
