.outer {
  width: 100%;
  height: fit-content;
  display: flex;
  position: relative;
  color: rgb(234, 234, 234);
  padding: 20px;
}
.textBox {
  width: 75%;
  height: 100%;
  padding: 5px;
  background: rgba(75, 75, 75, 0.5);
}
.sideBar {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sideBarBtn {
  border: none;
  background: rgba(75, 75, 75, 0.5);
  border-radius: 8px;
  padding: 10px 5px;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
