.outer {
  // position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}
.wrap {
  list-style: none;
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

// fix double scrollbar on mobile
.wrap::-webkit-scrollbar {
  -webkit-appearance: none;
}
.wrap::-webkit-scrollbar:vertical {
  width: 8px;
}
.wrap::-webkit-scrollbar:horizontal {
  height: 8px;
}
.wrap::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(90, 90, 90);
}
.wrap::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.closeBtn {
  border: none;
  background: inherit;
  color: rgb(184, 179, 179);
  padding: 5px;
  cursor: pointer;
  width: fit-content;
  margin-right: 0px;
}
.closeIcon {
  width: 25px;
}
.comment {
  margin: 0 auto 15px;
  font-size: 0.9rem;
  display: flex;
  gap: 15px;
  align-items: center;
}
.commentImg {
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  background: rgb(30, 30, 30);
  & img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }
}
.commentText {
  flex: 1;
}

.userName {
  font-size: 0.9rem;
}
