.outer {
  // position: relative;
}
.wrap {
  list-style: none;
  padding: 25px 30px;
}
.closeBar {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid white;
}
.closeBtn {
  display: block;
  border: none;
  background: inherit;
  color: white;
  width: 100%;
  padding: 5px;
  // padding: 5px;
  cursor: pointer;
}
.comment {
  margin: 210px auto;
}
.closeIcon {
  width: 25px;
  margin: 0 auto;
}
